@tailwind base;
@tailwind components;
@tailwind utilities;

$beforeScale: 1;
$afterScale: 0;

html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

// @media screen and (max-width: 400px) {
  
//   #table {
//     transform: scale(1);
//     width: 100vw;
//   }
// }

.animate-frame {
  // transform: ;
  left: -50%;
  top: -50%;
  transform: translate(0, 0) rotate(-45deg);
}

.circle-dot {
  border-radius: 50%;
  animation: fadingEffect linear infinite;
}

.spiner  {
  animation: spin 8s infinite linear;
  -webkit-animation: spin 8s infinite linear;
}


.pixel-font {
  font-family: "Silkscreen", cursive;
}

.text-clip {
  text-overflow: clip;
}

.fade {
  animation:  fadeOut 1.2s infinite linear;
}

.fade-delay-1 {
animation-delay: 0.8s;
}

.fade-delay-2 {
animation-delay: 1.6s;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@keyframes fadingEffect {
  to {
    will-change: transform;
    transform: translateY(300vh);
  }
}



@keyframes zoomBig {
  0% {
    background: transparent;
    color: black;
  transform: scale($beforeScale, $beforeScale);
  -webkit-transform: scale($beforeScale, $beforeScale);
    -moz-transform: scale($beforeScale, $beforeScale);
    -ms-transform: scale($beforeScale, $beforeScale);
    -o-transform: scale($beforeScale, $beforeScale);
  }
  
  50% {
    transform: scale($afterScale, $afterScale);
    -webkit-transform: scale($afterScale, $afterScale);
    -moz-transform: scale($afterScale, $afterScale);
    -ms-transform: scale($afterScale, $afterScale);
    -o-transform: scale($afterScale, $afterScale);
    opacity: 0
}
 
  100% {
    opacity: 1;
    
  transform: scale($beforeScale, $beforeScale);
  -webkit-transform: scale($beforeScale, $beforeScale);
    -moz-transform: scale($beforeScale, $beforeScale);
    -ms-transform: scale($beforeScale, $beforeScale);
    -o-transform: scale($beforeScale, $beforeScale);
    -o-transform: scale($beforeScale, $beforeScale);
  }
}

@keyframes fadeOut {
  0% {
    background: black;
    display: block;
    height: 0;
    top: 100%;
    opacity: 0;
  }
 
  80% {
  background: black;

    height: 80%;
    opacity: 0.6;
  }

  100% {
    background: black;
    height: 0;
    top: 0;
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    rotate: 360deg;
  }
}



@media screen and (max-width: 768px){
  .animate-frame {
    left: -100%;
    scale: 0.5;
  }

    .animate-frame > div {
      scale: 0.7;
    }
}

@media screen and (max-width: 400px) {
.animate-frame {
  top:-20%;
    left: -200%;
  }
    animate-frame>div {
      scale: 0.5;
    }
}