@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.animate-frame {
  transform: rotate(-45deg);
  margin-left: -80rem;
}
.circle-dot {
  border-radius: 50%;
  animation: myAnimation linear infinite;
}

@keyframes myAnimation {
  to {
    top: 300vh;
  }
}

.pixel-font {
  font-family: "Silkscreen", cursive;
}

.text-clip {
  text-overflow: clip;
}
